/*Cursor*/
html{
    cursor: url('images/cursor.png'), auto;
}

/* Fonts*/
@font-face {
    font-family: "Symtext";
    src: url(fonts/Symtext.ttf);
}

/*Loading Screen*/

body{
    margin: 0;
    /*padding: 0;*/
}

#loadtxt{
    color: rgb(174, 197, 255);
    font-family: 'Symtext';
    margin: 1em;
}

.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.loader{
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.loader div{
    width: 15px;
    height: 15px;
    background-color: rgb(174, 197, 255);
    border-radius: 30%;
    animation: grow-shrink 1.5s infinite;
}

.loader div:nth-child(1){
    animation-delay: 0s;
}

.loader div:nth-child(2){
    animation-delay: 0.3s;
}

.loader div:nth-child(3){
    animation-delay: 0.6s;
}

@keyframes grow-shrink{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
}

/*Main Page*/

.hidden{
    display: none;
}